/.gitattributes export-ignore
/.gitignore export-ignore
/README export-ignore
/support export-ignore
/TODO export-ignore
* text=auto
*.cil whitespace=tab-in-indent,trailing-space,linguist-detectable=true
